<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <table>
    <tr>
        <th>first name</th>
        <th>last name</th>
        <th>email</th>
        <th>place</th>
        <th>phone_num</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{i.teacher_id.first_name}}</td>
        <td>{{i.teacher_id.last_name}}</td>
        <td>{{i.teacher_id.email}}</td>
        <td>{{i.address}}</td>
        <td>{{i.phone_number}}</td>
        
        <td><a href="delete_teacher/{{i.id}}">delete</a></td>
        
        
        </tr>
    {% endfor %}
   </table>
</body>
</html>